<!-- ********** CALL TO ACTION SECTION ********** -->
<div id="cta">
  <div class="container">
    <div class="row">
      <h2>Developers</h2>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/CTA -->

<div class="container">
  <div class="row mtb centered">
    <% @profiles.each do |profile| %>
      <div class="col-md-3">
        <div class="ser w">
          <%= image_tag gravatar_url(profile.get_email, 100), alt: "", class: "avi" %>
          <h5>
            <%= profile.first_name %>
            <%= profile.last_name %>
          </h5>
          <hr class="aligncenter">
          <% if profile.website? %>
            <%= link_to profile.website do %>
              <i class="fa fa-home fa-3x icons"></i>
            <% end %>
          <% end %>
          <% if profile.twitter? %>
            <%= link_to profile.twitter do %>
              <i class="fa fa-twitter fa-3x icons"></i>
            <% end %>
          <% end %>
          <% if profile.git_app.include?("github") %>
            <%= link_to profile.git_app do %>
              <i class="fa fa-github fa-3x icons"></i>
            <% end %>
          <% elsif profile.git_app.include?("bitbucket") %>
            <%= link_to profile.git_app do %>
              <i class="fa fa-bitbucket fa-3x icons"></i>
            <% end %>
          <% end %>
          <br />
          <br />
          Work Includes:
          <% if profile.crud_project? %>
            <h4>CRUD Operations</h4>
          <% end %>
          <% if profile.api_project? %>
            <h4>API Integrations</h4>
          <% end %>
          <% if profile.tested_project? %>
            <h4>Testing Practices</h4>
          <% end %>
          <br />
          <p>
            <%= link_to "View Full Profile", profile %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
