<div class="unwrap">
  <div style="background-image: url(<%= asset_path 'angle/profile-bg.jpg' %>)" class="bg-cover">
    <div class="p-xl text-center text-white">
      <%= image_tag gravatar_url(@profile.get_email, 128), alt: "Profile Image", class: "img-thumbnail img-circle thumb128" %>
      <h1 class="m0"><%= @profile.full_name %></h1>
    </div>
  </div>
  <div class="text-center bg-gray-dark p-lg mb-xl">
    <div class="row row-table">
      <div class="col-xs-4 br">
        <%= link_to @profile.twitter, class: "text-white profile-link"  do %>
          <h3 class="m0"><em class="fa fa-twitter fa-fw fa-2x"></em></h3>
          <p class="m0">Twitter</p>
        <% end %>
      </div>
      <div class="col-xs-4 br">
        <%= link_to @profile.website, class: "text-white profile-link"  do %>
          <h3 class="m0"><em class="fa fa-home fa-fw fa-2x"></em></h3>
          <p class="m0">Webpage</p>
        <% end %>
      </div>
      <div class="col-xs-4">
        <%= link_to @profile.git_app, class: "text-white profile-link"  do %>
          <h3 class="m0"><em class="fa fa-<%= @profile.repo_service %> fa-fw fa-2x"></em></h3>
          <p class="m0"><%= @profile.repo_service.titleize %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="p-lg">
    <div class="row">



      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3 class="mt0">Code Examples</h3>
            </div>
            <hr class="hr-btm-margin"/>
          </div>
          <div class="list-group">
            <% if !@profile.crud_project.blank? %>
              <%= link_to "#{@profile.crud_project}", class: "list-group-item" do %>
                <em class="pull-right fa fa-code fa-lg fa-fw text-muted mt"></em>
                <h4 class="list-group-item-heading">CRUD</h4>
                <p class="list-group-item-text">Example</p>
              <% end %>
            <% end %>
            <% if !@profile.api_project.blank? %>
              <%= link_to "#{@profile.api_project}", class: "list-group-item" do %>
                <em class="pull-right fa fa-code fa-lg fa-fw text-muted mt"></em>
                <h4 class="list-group-item-heading">API</h4>
                <p class="list-group-item-text">Example</p>
              <% end %>
            <% end %>
            <% if !@profile.tested_project.blank? %>
              <%= link_to "#{@profile.tested_project}", class: "list-group-item" do %>
                <em class="pull-right fa fa-code fa-lg fa-fw text-muted mt"></em>
                <h4 class="list-group-item-heading">Testing</h4>
                <p class="list-group-item-text">Example</p>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3 class="mt0">I've Used</h3>
            </div>
            <hr/>
            <p><em>"<%= @profile.gems %>"</em></p>
          </div>
        </div>
      </div>

      <!-- START Right Column -->
      <div class="col-lg-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3 class="mt0">I Code Because</h3>
            </div>
            <hr/>
            <p><em>"<%= @profile.why %>"</em></p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3 class="mt0">I've Recently Learned</h3>
            </div>
            <hr/>
            <p><em>"<%= @profile.recently_learned %>"</em></p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3 class="mt0">Three Month Goals</h3>
            </div>
            <hr/>
            <p><em>"<%= @profile.goals %>"</em></p>
          </div>
        </div>
      </div>
      <!-- END Right Column -->

    </div>
  </div>
</div>
