<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Account Management</h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal'} ) do |f| %>
          <div class="col-lg-offset-3 col-lg-9">
            <%= devise_error_messages! %>
          </div>
    <div class="form-group">
      <%= f.label :email, class: "col-lg-3 control-label" %>
      <div class="col-lg-9">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <div class="col-lg-offset-3 col-lg-9">
      <p>Leave these fields blank if you don't want to change your password.</p>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "col-lg-3 control-label" %>
      <div class="col-lg-9">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-lg-3 control-label" %>
      <div class="col-lg-9">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
    <fieldset>
      <div class="col-lg-offset-3 col-lg-9">
        <p>You must enter your current password to make changes.</p>
      </div>
      <div class="form-group">
        <%= f.label :current_password, class: "col-lg-3 control-label" %>
        <div class="col-lg-9">
          <%= f.password_field :current_password, class: 'form-control' %>
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <%= f.submit 'Save Changes', :class => 'btn btn-lg btn-primary btn-block' %>
      </div>
    </div>
  <% end %>
</div>
