<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
  <!-- START navbar header-->
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, class: "navbar-brand text-white brand-link" do %>
      <div class="brand-logo">
        <span class="brand-text">LFJRD</span>
        <!-- <img src="<%= image_path('angle/logo.png') %>" alt="App Logo" class="img-responsive" /> -->
    </div>
    <div class="brand-logo-collapsed">
      <img src="<%= image_path('angle/logo-single.png') %>" alt="App Logo" class="img-responsive" />
    </div>
  <% end %>
  </div>
  <!-- END navbar header-->
  <!-- START Nav wrapper-->
  <div class="navbar-collapse collapse">
    <!-- START Left navbar-->
    <ul class="nav navbar-nav">
    </ul>
    <!-- END Left navbar-->
    <!-- START Right Navbar-->
    <ul class="nav navbar-nav navbar-right">
      <!-- START Log In -->
      <% if user_signed_in? %>
        <% if current_user.profile.id != nil %>
          <li><%= link_to 'Edit Profile', edit_profile_path(current_user.profile) %></li>
        <% else %>
          <li><%= link_to 'Create Your Profile', new_profile_path(current_user) %></li>
        <% end %>
        <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign Up To Create Your Profile!', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>
    </ul>
    <!-- END Right Navbar-->
  </div>
  <!-- END Nav wrapper-->
  <!-- START Search form-->
  <form role="search" action="search.html" class="navbar-form">
    <div class="form-group has-feedback">
      <input type="text" placeholder="Type and hit enter ..." class="form-control" />
      <div data-search-dismiss="" class="fa fa-times form-control-feedback"></div>
    </div>
    <button type="submit" class="hidden btn btn-default">Submit</button>
  </form>
  <!-- END Search form-->
</nav>
<!-- END Top Navbar-->
