<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + Ruby on Rails">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>Angle - Bootstrap Admin Template</title>
   <!-- =============== VENDOR STYLES ===============-->
   <%= stylesheet_link_tag 'base' %>
   <!-- =============== VIEW VENDOR STYLES ===============-->
   <!-- %= stylesheet_link_tag params[:controller] %> -->
   <!-- =============== APP STYLES ===============-->
   <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
   <%= csrf_meta_tags %>
</head>

<!-- layout-h will adapt the layout position -->
<body class="layout-h">
   <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <%= render partial: "layouts/partials/topnavbar_h" %>
      </header>
      <!-- Hero section -->
      <div id="h">
        <div class="container">
          <div class="row centered">
            <h3 class="logo">LFJRD</h3>
            <h3 class="logo2">...looking for junior rails developers...</h3>
            <h1 class="h-title-2">
              Pairing Exceptional Junior Devs
              <br/>
              With Outstanding Organizations
            </h1>
          </div><!--/row -->
        </div><!--/container -->
      </div><!--/header -->
      <div class="cta">
        <div class="container">
          <div class="row centered">
            <div class="col-xs-12">
              <h1>Want to get tips on building your skills as a junior dev?</h1>
              <div class="col-sm-6 col-sm-offset-3">
                <%= form_tag("/thanks") do %>
                  <div class="input-group">
                    <%= text_field_tag( "email", nil, placeholder: "Enter your email address", class: "form-control" ) %>
                    <span class="input-group-btn">
                      <%= submit_tag "SIGN UP FOR JR DEV NEWS", class: "btn btn-success" %>
                    </span>
                  </div>
                <% end %>
                <p>We're cool man... You'll get at most one email per week from us and we hope you'll dig it!</p>
              </div>
            </div>
          </div><!--/row -->
        </div><!--/container -->
      </div><!--/header -->
      <!-- Main section-->
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <%= yield %>
         </div>
      </section>
      <div class="cta">
        <div class="container">
          <div class="row centered">
            <div class="col-xs-12">
              <div class="col-sm-6 col-sm-offset-3">
                <%= link_to "BROWSE ALL PROFILES", profiles_path, class: "btn btn-success btn-block" %>
              </div>
            </div>
          </div><!--/row -->
        </div><!--/container -->
      </div><!--/header -->
      <!-- Page footer-->
      <footer>
         <%= render partial: "layouts/partials/footer" %>
      </footer>
   </div>
   <!-- =============== VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag 'base' %>
   <!-- =============== VIEW VENDOR SCRIPTS ===============-->
   <!-- %=  javascript_include_tag params[:controller] %> -->
   <!-- =============== APP SCRIPTS ===============-->
   <%= javascript_include_tag 'application' %>
</body>

</html>

